#temp_style
{
    background-color: green;
}

/* Adding top padding to fix bootstrap fixed navbar 
   Should be resposive
*/
body {
    padding-top: 100px;     }
@media screen and (max-width: 768px;){
    body{padding-top: 0px;}
    }

/*Changing all the link color*/
a {
    color: #425B6D;
}
a:hover {
    color: #607686;
}
a:active{
    color: red;
/*    color: #1B3446;*/
}

/* non-body large texts should be thin all accross*/
#ultra_big{
    font-weight: 800;
    font-size: 28rem;
    font-family: sans-serif;
    color: #42d6499c;
}

/*intro to website, next to thw ultra big heading*/
#intro{

    font-weight: 200;
    font-size: 5rem;
    font-family: monospace;
    color: #565454f7;
}


/*styles for making the main text readable*/
#text_body{
    background-color: #FDFDFD;
    color: #1A1A1A;
    font-size: 1.2em;
    font-family: serif;
    min-height: 87vh;    

    /*testing with increasing spacing*/
    line-height: 1.85em;
}

/*Before we can implement this, we need to fix the hompage*/
/*Trying to select the child of the above class*/
#text_body p {
    padding-bottom: 1.0em;
}

/*fixing the next and previous navigation on blog post*/
#next_prev{
    display: inline-block;
}

/* Changing navbar background color*/
.navbar-fixed-top{
    opacity:1.0;
    background-color: white;
    }

/*Changing font family*/
*{
    font-family: 'Helvetica', serif;
    }

/*Changing the font weight for the site headline*/
h1{
    font-weight: 200;
}

h2{
    font-weight: 200;
}

/*
setting bottom = 0 at footer 
and min-height = xxvh in #text_body 
set the footer at the bottom of the page
*/
.footer{
    display: block;
    position: relative;
    bottom:0;
}

