{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="container-fluid"> <!-- div for the entire text body -->
    <div class="row">
        <div class="col-sm-12">
    
            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
                <div>
                    <p class="text-center" id="ultra_big"
                    >Hi!</p>
                </div>
            </div>


        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
                <div>
                <h2 id="intro"
                >I am Sirajus Salekin.</h2>
                <h2 id="intro"
                >I write code.</h2>
                </div>
            </div>

        </div>
    </div>


<!--
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">    
            </div>

            <div class="col-sm-6">
                <div>
                    <h2>
                        P.S: The development of this site is still
                        underway. I'm using Lektor and Bootstrap.
                        If you happen to have any suggestions or tips,
                        I'd love to hear them! 
                    </h2>
                </div>
            </div>

        </div>
    </div>
-->

</div>
{% endblock %}
