{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="container-fluid"> <!-- div for the entire text body -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">    
            </div>

            <div class="col-sm-6">
                <div>
                    <h2> 
                    You have reached my personal website.
                    I am Sirajus Salekin, 
                    a college senior, Python developer,
                    admirer of great design and an occasional noamd.
                    </h2>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h2>
                Say hi if you like it around here.  
                Send me an email to ssalek14@earlham.edu

                </h2>
            </div>

            <div class="col-sm-6">
                <div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">    
            </div>

            <div class="col-sm-6">
                <div>
                    <h2>
                        P.S: The development of this site is still
                        underway. I'm using Lektor and Bootstrap.
                        If you happen to have any suggestions or tips,
                        I'd love to hear them! 
                    </h2>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}
