<!doctype html>
<head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA_compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <meta name="google-site-verification" 
        content="bnQaIUy0EsTuzf9Fy4yOiZjKbS-_dnbPKp1duffYEqI" />

    <link rel="stylesheet" href="{{'/css/bootstrap.min.css'|asseturl}}"> 
    <link rel="stylesheet" href="{{'/css/landing_page.css'|asseturl}}">
</head>

<body>
    <div class="ga-script"> {{ generate_google_analytics() }}
    </div>

    <div class="container-fluid primary-bg">
        <div class="centered-content">
            <div class="section">
                <heading>Sirajus Salekin</heading>
            </div>
            <div class="section">
                <subheading>Tech for Meaningful Change</subheading>
            </div>
            <div class="section bottom">
                <subsubheading>I develop software
                and sometimes write what I learn.</subsubheading>
                <br/>
                <subsubheading>
                    <a href="{{ '/about'|url }}">Learn More</a>,
                    <a href="{{ '/blog'|url }}">Read Blog</a>, or
                    <a href="{{ '/projects'|url }}">See My Projects</a>
                </subsubheading>
            <div>
        </div> 
    </div>
</body>
